@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

nav {
	background-color: #6dc1f7;
}

nav #myPortfolioNav ul {
	display: flex;
	justify-content: end;
	width: 100%;
}

nav #myPortfolioNav ul li {
	margin: 0 10px;
}

nav #myPortfolioNav ul li a {
	color: #29264E !important;
	font-size: 14px;
    font-weight: 700;
}

nav .mobile-icon {
	display: none;
}

.hero {
    background-color: #9f7cf4;
    background-image: linear-gradient(0deg, #9f7cf4 20%, #6dc1f7 66%);
    height: 100vh;
    border-radius: 0;
}

.hero-bg {
    background: url(./images/new_hero_bg.gif);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
}

.header-wrapper {
    width: 36%;
}

.jumbotron {
	background-color: transparent;
}

.header-wrapper h1, .header-wrapper p {
    font-size: 2rem;
    font-weight: 500;
    color: #29264E;
}

.header-wrapper h1 span {
	font-weight: 700;
	font-size: 8rem;
}

.header-wrapper .know-more {
	color: #29264E;
    background-color: transparent;
    border: 2px solid #29264E;
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    padding: .5rem 1rem;
    margin: 40px auto;
    box-shadow: none !important;
    outline: none !important;
}

.header-wrapper .know-more:after {
	font-family: 'FontAwesome';
	content: "\f061";
	margin-left: 10px;
	font-size: 13px;
	padding-bottom: 2px;
}

.header-wrapper .know-more:hover {
	color: #fff;
	border: 2px solid #29264E;
	background-color: #29264E;
}

.header-wrapper .know-more:hover:after {
	content: "\f063";
}

#about-me, #tools-section {
	height: 100vh;
	padding: 5rem 0;
	padding-top: 8rem;
}

#about-me {
	/*background: url('./images/section_bg.gif');
	background-size: contain;*/
}

#about-me h1, #project-section h1, #tools-section h1, #contact-section h1 {
	font-weight: 700;
	font-size: 2.4rem;
	color: #29264E;
}

#about-me img {
    margin: 20px 0;
    box-shadow: 10px 10px #6dc1f7; 
    height: 90%;
    margin: 40px auto;
}

#about-me .border p, #about-me .border span {
    font-size: 15px;
	color: #29264E;
}

#about-me .border {
	box-shadow: 10px 10px #29264E;
	background-color: #fff;
}

span.dash {
	border-top: 4px dashed #dee2e6;
	display: block;
	margin: 50px 0 20px 0;
}

#project-section, #contact-section {
	padding: 6rem 0;
	background-color: #fafbfd;
}

#project-section .card {
	border-radius: 0;
	transition: 0.3s;
	border: 2px solid #29264E;
}

#project-section .card:hover {
	margin-top: -20px;
	cursor: pointer;
}

#project-section .card img {
	height: 330px;
}

#project-section .card h5 {
	font-weight: 700;
}

#project-section .card p {
	font-size: 13px;
}

#project-section .card a {
	width: 100%;
    border-radius: 0;
    color: #fff !important;
    background-color: #29264E;
    border: 0;
    height: 42px;
    padding: .6rem;
}

#tools-section {
	height: auto;
	padding: 6rem 0;
}

#tools-section p {
	font-weight: 700;
	font-size: 1.4rem;
}

#contact-section p {
	font-size: 13px;
}

#contact-section input, #contact-section textarea{
	background-color: #fafcfe;
    border-radius: 0;
    height: 50px;
}

#contact-section textarea {
	resize: none;
	height: 30vh;
}

#contact-section .submit {
	color: #fff;
	background-color: #29264E;
	border-radius: 0;
	float: right;
}

#contact-section .map-wrapper, #contact-section .map-wrapper iframe {
	width: 100%;
}

#contact-section .border {
	background-color: #fafcfe;
	width: auto;
}

footer {
	padding: 10px;
	/*background-color: #29264E;*/
	background-color: #6dc1f7;
	color: #fff;
	justify-content: center;
}

footer ul {
	list-style: none;
	display: flex;
	margin: 0;
}

footer ul li {
	margin: 0 30px 0 0px;
}

footer ul li a, footer p {
	color: #29264E !important;
	text-decoration: none !important;
	font-size: 12px;
	margin: 0;
}